@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .focus-styles {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-focusBlue focus-visible:ring-offset-2 focus-visible:ring-offset-slate-300 focus-visible:border-transparent;
  }
  .focus-styles-dark {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-focusBlue focus-visible:ring-offset-2 focus-visible:ring-offset-slate-900 focus-visible:border-transparent;
  }
  .focus-styles-field {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-slate-900 focus-visible:border-transparent;
  }
}

/* Reset autofill styles for input */
/* Selecting an autofill option would normally set the input
   background to white */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #CDC8B0 inset !important;
    -webkit-text-fill-color: #4E4B42 !important;
}
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  outline: 2px solid #4E4B42;
  border-color: #CDC8B0;
}